#body {

}

#header
{
    background-color: lightblue;


    font-family: sans-serif;
    text-align: center;


}

#footer
{
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
    font-family: sans-serif;

}

#nav
{
    padding: 0;
    margin: 0;

}


#navUl
{
    display: inline;
    list-style: none;

}

nav li
{
    display: inline;
    margin: 0 100px;



}

a
{
    text-decoration: none;
}

.grisee {
    background-color: #868686;
}

#grisee {
    color: darkred;
}

input
{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 1px;
    font-family: sans-serif;
}


label
{
    font-family: sans-serif;
}

#btnRegister
{
    width: 150px;
    border-radius: 3px;
    margin-left: 200px;
    margin-top: 20px;
}

