{% extends 'layout.html.twig' %}

{% block body %}

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}



    <button type="submit">Créer ma sortie</button>
    {{ form_end(sortieForm) }}



    </div>
    <img width="250px" height="250px" src="{{ asset('img/vladBerlu.jpg') }}">
{% endblock %}

