{% extends 'layout.html.twig' %}

{% block body %}
<div id="formSortie">
    <h2>Nouvelle Sortie</h2>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}



    <button id="btnSortie" type="submit">Créer ma sortie</button>
    {{ form_end(sortieForm) }}



    </div>

{% endblock %}

