<!doctype html>
<html lang="fr">
<head>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


    {% block title %}

    <img width="500px" src="{{  asset("img/sortirdotcom.png") }}" />
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{  asset("css/app.css") }}">
    {% endblock %}
</head>

<body>

<header id="header">
    <h1>Sortir.com</h1>
    {% include ('inc/nav.html.twig') %}
</header>

{% block nav %}

{% endblock %}

<main id="body">
{% block body %}
{% endblock %}
</main>




<footer id="footer">

    &copy;{{ "now"|date("Y") }} Sortir.com
</footer>

</main>

</body>
</html>