<!doctype html>
<html lang="fr">
<head>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} Sortir.com {% endblock %}</title>

    <link href="bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ asset('js/confirm.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <style type="text/css">
        #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height:400px;
        }

    </style>

    <link rel="stylesheet" href="{{  asset("css/app.css") }}">

</head>

<body>

<header id="header">

    <img id="fond" alt="Festival" width="100%" height="600px" src="{{  asset("img/imgPrinc.png") }}" />
    {% include ('inc/nav.html.twig') %}

</header>



<main id="body">
{% block body %}



{% endblock %}
</main>




<footer id="footer">

    &copy;{{ "now"|date("Y") }} Sortir.com
</footer>

</main>

</body>
</html>