{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir/') }}" alt="image sortir" />
<button>Connexion</button>
<button>Inscription</button>
{% endblock %}

{% block body %}
{% endblock %}


