{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir.jpg') }}"/>
<a href="{{ path('connection_login')}}"><button>Connexion</button></a>
<button>Inscription</button>
{% endblock %}

{% block body %}
{% endblock %}


