{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir.jpg') }}"/>
{% endblock %}

{% block body %}
    <fieldset>
        <p>Identifiant : <input type="text" name="identifiant"></p>
        <p>Mot de passe : <input type="text" name="motdepasse"></p>
        <button type="submit">Submit</button>
    </fieldset>



{% endblock %}


