<nav id="nav">
    <ul id="navUl">
        <li><a href="{{ path('user_home') }}">Accueil</a></li>
        <li><a href="{{ path('security_login') }}">Se Connecter</a></li>
        <li><a href="{{ path('register') }}">S'inscrire</a></li>
        <li><a href="{{ path('user_profil') }}">Mon Profil</a></li>
    </ul>


</nav>