{% extends 'layout.html.twig' %}

{% block body %}
<h1 style="color: red"> Echec de l'authentification ! </h1>
    <img src="{{ asset('img/sadwoman.jpg') }}"/>
{% endblock %}

{% block nav %}

{% endblock %}

