{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir.jpg') }}"/>

  {% if   app.user   %}
    <h5> Bienvenue {{ app.user.username }} </h5>
  {% endif %}

{% endblock %}

{% block body %}
  {% for flashMessage in app.session.flashbag.get('succesProfil') %}
    <div>
      {{ flashMessage }}
    </div>







  {% endfor %}
{% endblock %}


