{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir.jpg') }}"/>
{% endblock %}

{% block body %}
    <form method="post">
        <label for="username">Identifiant :</label> <input type="text" name="username" id="username" required>
        <label for="password">Mot de passe :</label> <input type="text" name="password" id="password" required>
        <button type="submit">Submit</button>
    </form>
{% endblock %}



