{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir.jpg') }}"/>
{% endblock %}

{% block body %}
    <form method="post">
        <label for="username">Identifiant :</label> <input type="text" name="_username" id="username" required>
        <label for="password">Mot de passe :</label> <input type="password" name="_password" id="password" required>

        <input type="hidden" name="{{ path('user_home')}}" value=""/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <input type="submit"></input>
    </form>
{% endblock %}



