{% extends 'layout.html.twig'  %}

{% block body %}

    <script src="{{ asset('js/profil.js') }}"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <h4>{{ user.username }}</h4>




    {#
    document.getElementById("name").readOnly = true;

    and unset:

    document.getElementById("name").readOnly = false;

    #}






{% endblock %}